<html>
     <head>
         <title>ZheNata Blog</title>
     </head>
     <body>
         <div>
             <h1><a href="">ZheNata Blog</a></h1>
         </div>

         <div>
             <p>published: 19.05.2017, 01:16</p>
             <h2><a href="">Погружаясь в небытие</a></h2>
             <p>Перед тем как заснуть, меня потянуло посмотреть первые 15 минут антиутопического фильма, но внезапно прервалась и меня затянуло в машинную рукопись.</p>
         </div>

         <div>
             <p>published: 19.05.2017, 01:17</p>
             <h2><a href="">Сказать нельзя, молчать</a></h2>
             <p>Вот все знают. Как жить. Одна я такая маленькая, с розовыми очками, ничего не знаю. А не засунуть ли ваше мнение в очпочмак, пусть по углам шатается, картошечку освежает.</p>
         </div>
     </body>
 </html>
